trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: AzureCLI@2
  inputs:
    azureSubscription: 'KubeSC'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      docker build -t faroprodregistry.azurecr.io/web-game:latest 2048-game
      az acr login -n faroprodregistry
      docker push faroprodregistry.azurecr.io/web-game:latest

